/* Modify the background color */
.navbar-nkred-bg {

    background-color: #CD2E3A;
}

/* Modify brand and text color */
.navbar-nkred-bg .navbar-brand,
.navbar-nkred-bg .navbar-text, .navbar-light .navbar-nav .nav-link {
    color: #FFFFFF;
}

/* H1 - header with colored background */
.parallel-header {
	background: #0047A0;
	transform: skew(-20deg);
	box-shadow: 5px 10px #CD2E3A;
	margin-bottom: 16px;
}

.parallel-header-text {
	color: #FFFFFF;
	transform: skew(20deg);
}