{% extends 'base.html' %}

{% block content %}
<div class="row bg-success">
	<div class="col-lg-12">
		<h1><br><br></h1>
	</div>
</div>
<!-- Jumbotron with my pic there -->
<div class="row">
			    <div class="col-lg-12">
<!-- bypass flask detecting curlies as Flask instead of Vue -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">The name's Clyde.</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent molestie lorem sed rutrum lobortis. Etiam nec ligula pretium, bibendum libero vel, vulputate purus. Fusce sed tellus purus. In ullamcorper mattis orci in dapibus. Nullam quis aliquet tellus.</p>
  </div>
</div> <!-- end jumbotron -->

      </div>
</div>
<!-- About Me -->
<div class="row">
			    <div class="col-lg-6">
				         <h1>About Me</h1>
				         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in elit dapibus, maximus ante auctor, malesuada lacus. Maecenas eu quam in felis rhoncus mattis. Phasellus in congue sapien, nec elementum mi. Aliquam varius nisl vel orci accumsan malesuada. Vivamus leo ex, tincidunt quis nisi a, elementum cursus mi. Sed rhoncus arcu massa, non pharetra velit euismod sit amet. Duis et pharetra dolor. Vestibulum congue consequat porta. Sed sagittis libero in diam convallis egestas.</p>
				</div>
				<div class="col-lg-6">
					<h1>Skills</h1>
					<div class="card text-white bg-primary mb-3">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Primary card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Primary card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Primary card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Primary card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
				</div>
</div>

<!-- Work Experience -->
<div class="row">
			    <div class="col-lg-12">
				
				</div>
</div>

<!-- Portfolio - Web -->
<div class="row">
			    <div class="col-lg-12">
				<!-- bypass flask detecting curlies as Flask instead of Vue - use VueJS or React for the screenshot pop-up, with an option for the user to view a live demo -->
				</div>
</div>
{% endblock %}

{% block vuescripts %}

{% endblock %}