{% extends 'base.html' %}

{% block content %}
<!-- Jumbotron with my pic there -->
<div class="row">
			    <div class="col-lg-12">
<!-- bypass flask detecting curlies as Flask instead of Vue -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">The name's Clyde.</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent molestie lorem sed rutrum lobortis. Etiam nec ligula pretium, bibendum libero vel, vulputate purus. Fusce sed tellus purus. In ullamcorper mattis orci in dapibus. Nullam quis aliquet tellus.</p>
  </div>
</div> <!-- end jumbotron -->

      </div>
</div>
<!-- About Me -->
<div class="row">
			    <div class="col-lg-6">
				<div class="row">
				         <div class="col-lg-12">
				         <h1 class="text-center parallel-header"><span class="parallel-header-text">About Me</span></h1>
				         <p>As a passionate and versatile web developer, I excel at transforming concepts into engaging and functional websites. Grounded in a meticulous attention to detail, I am committed to delivering innovative solutions that not only captivate users but also effectively communicate the intended messages.</p>
				        </div> <!-- end col-lg-12 with only about me -->
				</div> <!-- end about me row -->
				
				<div class="row">
					<div class="col-lg-6">
						<h1 class="text-center parallel-header"><span class="parallel-header-text">Education</span></h1>
						<div class="media">
  <div class="media-body">
    <h5 class="mt-0">Mindanao State University - Iligan Institute of Technology</h5>
    <p>Bachelor of Science in Computer Science</p>
    <p>2018</p>
  </div>
</div>
					</div> <!-- end educ col -->
					<div class="col-lg-6">
						<h1 class="text-center parallel-header"><span class="parallel-header-text">Languages</span></h1>
						
						<ul class="list-group">
  	    <li class="list-group-item skills-text">English <span class="badge badge-success">Fluent</span></li>
          <li class="list-group-item skills-text">Filipino (Tagalog) <span class="badge badge-success">Native</span></li>
          <li class="list-group-item skills-text">Esperanto <span class="badge badge-warning">Basic</span></li>
          <li class="list-group-item skills-text">Spanish <span class="badge badge-warning">Basic</span></li>
  	</ul>
						
					</div> <!-- end langs col -->
				</div> <!-- end educ and langs row -->
				
				</div> <!-- end left about me column -->
				<div class="col-lg-6">
					<h1 class="text-center parallel-header"><span class="parallel-header-text">Career Snapshot</span></h1>
					<div class="row">
						<div class="col-lg-6">
							
							<div class="card text-white bg-primary mb-3">
  <div class="card-header">Programming Languages</div>
  <div class="card-body">
  	<ul class="list-group">
  	    <li class="list-group-item skills-text">PHP <span class="badge badge-success">4.3 out of 5</span></li>
          <li class="list-group-item skills-text">SQL <span class="badge badge-success">4.6 out of 5</span></li>
          <li class="list-group-item skills-text">HTML <span class="badge badge-success">4.5 out of 5</span></li>
          <li class="list-group-item skills-text">JavaScript <span class="badge badge-success">4.4 out of 5</span></li>
          <li class="list-group-item skills-text">Python <span class="badge badge-success">4.0 out of 5</span></li>
  	</ul>
    
  </div> <!-- end card-body -->
</div> <!-- end card -->

				
						</div> <!-- end left card col -->
						<div class="col-lg-6">
							
							<div class="card text-white bg-primary mb-3">
  <div class="card-header">Database Management Systems</div>
  <div class="card-body">
  	<ul class="list-group">
  	    <li class="list-group-item skills-text">MySQL/MariaDB <span class="badge badge-success">4.2 out of 5</span></li>
          <li class="list-group-item skills-text">PostgreSQL <span class="badge badge-success">4.5 out of 5</span></li>
          <li class="list-group-item skills-text">SQLite <span class="badge badge-success">4.5 out of 5</span></li>
  	</ul>
    
  </div> <!-- end card-body -->
</div> <!-- end card -->
							
						</div><!-- end right card col -->
					</div><!-- end first card row -->
					
<div class="row">
						<div class="col-lg-6">
							
							<div class="card text-white bg-primary mb-3">
  <div class="card-header">Frameworks - PHP</div>
  <div class="card-body">
  	<ul class="list-group">
  	    <li class="list-group-item skills-text">Wordpress <span class="badge badge-success">4.6 out of 5</span></li>
          <li class="list-group-item skills-text">CodeIgniter <span class="badge badge-success">4.4 out of 5</span></li>
          <li class="list-group-item skills-text">Laravel <span class="badge badge-success">4.5 out of 5</span></li>
          <li class="list-group-item skills-text">CakePHP <span class="badge badge-success">4.4 out of 5</span></li>
  	</ul>
    
  </div> <!-- end card-body -->
</div> <!-- end card -->

				
						</div> <!-- end left card col -->
						<div class="col-lg-6">
							
							<div class="card text-white bg-primary mb-3">
  <div class="card-header">Framework - Others</div>
  <div class="card-body">
  	<ul class="list-group">
  	    <li class="list-group-item skills-text">jQuery <span class="badge badge-success">4.5 out of 5</span></li>
          <li class="list-group-item skills-text">Bootstrap <span class="badge badge-success">4.5 out of 5</span></li>
          <li class="list-group-item skills-text">Flask (Python, web) <span class="badge badge-success">4.5 out of 5</span></li>
  	</ul>
    
  </div> <!-- end card-body -->
</div> <!-- end card -->
							
						</div><!-- end right card col -->
					</div><!-- end second card row -->

				</div><!-- end career snapshot -->
</div><!-- end about me row -->

<!-- Work Experience -->
<div class="row">
			    <div class="col-lg-12">
				<h1 class="text-center parallel-header"><span class="parallel-header-text">Work Experience</span></h1>
				
				<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">2020-2023</a>
      </li>
      
    </ul>
  </div>
  <div class="card-body">
    <h5 class="card-title">Web Developer - Outsourced Doers</h5>
    <p class="card-text">I have expertise in creating and maintaining websites using WordPress, Kajabi, Kartra, Wix, and other platforms. I have successfully delivered web development projects for clients in different industries, such as e-commerce, education, health, and entertainment. I am proficient in HTML, CSS, JavaScript, PHP, and other web technologies. I am also skilled in web design, SEO, and user interface optimization. I am passionate about creating web solutions that are responsive, user-friendly, and aesthetically pleasing.</p>
    <a href="#" class="btn btn-primary">Download Resumé</a>
  </div>
</div>
				
				</div><!-- end work exp col -->
</div><!-- end work exp row -->

<!-- Portfolio - Web -->
<div class="row">
			    <div class="col-lg-12">
				<!-- bypass flask detecting curlies as Flask instead of Vue - use VueJS or React for the screenshot pop-up, with an option for the user to view a live demo -->
					<h1 class="text-center parallel-header"><span class="parallel-header-text">Portfolio</span></h1>

         <div class="row">
         	<div class="col-lg-4">
                   <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleProjectModal1">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleProjectModal1" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span> 
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> <!-- end modal -->
         	</div> <!-- end individual project col -->
         </div> <!-- end projects row -->    

				</div><!-- end portfolio col -->
</div><!-- end portfolio row -->
	
<!-- Contact -->
<div class="row">
			    <div class="col-lg-12">
				<h1 class="text-center parallel-header"><span class="parallel-header-text">Contact</span></h1>
				</div><!-- end contact col -->
</div><!-- end contact row -->
{% endblock %}

{% block vuescripts %}

{% endblock %}