{% extends 'base.html' %}

{% block content %}
<!-- Jumbotron with my pic there -->
<div class="row">
			    <div class="col-lg-12">
<!-- bypass flask detecting curlies as Flask instead of Vue -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">The name's Clyde.</h1>
    <p class="lead">Crafting Dynamic Web Solutions with PHP & Wordpress Expertise, Elevating User Experience with Python & SQL Mastery</p>
  </div>
</div> <!-- end jumbotron -->

      </div>
</div>
<!-- About Me -->
<div class="row">
			    <div class="col-lg-6">
				<div class="row">
				         <div class="col-lg-12">
				         <h1 class="text-center parallel-header"><span class="parallel-header-text">About Me</span></h1>
				         <p>As a passionate and versatile web developer, I excel at transforming concepts into engaging and functional websites. Grounded in a meticulous attention to detail, I am committed to delivering innovative solutions that not only captivate users but also effectively communicate the intended messages.</p>
				        </div> <!-- end col-lg-12 with only about me -->
				</div> <!-- end about me row -->
				
				<div class="row">
					<div class="col-lg-6">
						<h1 class="text-center parallel-header"><span class="parallel-header-text">Education</span></h1>
						<div class="media">
  <div class="media-body">
    <h5 class="mt-0">Mindanao State University - Iligan Institute of Technology</h5>
    <p>Bachelor of Science in Computer Science</p>
    <p>2018</p>
  </div>
</div>
					</div> <!-- end educ col -->
					<div class="col-lg-6">
						<h1 class="text-center parallel-header"><span class="parallel-header-text">Languages</span></h1>
						
						<ul class="list-group">
  	    <li class="list-group-item skills-text">English <span class="badge badge-success">Fluent</span></li>
          <li class="list-group-item skills-text">Filipino (Tagalog) <span class="badge badge-success">Native</span></li>
          <li class="list-group-item skills-text">Esperanto <span class="badge badge-warning">Basic</span></li>
          <li class="list-group-item skills-text">Spanish <span class="badge badge-warning">Basic</span></li>
  	</ul>
						
					</div> <!-- end langs col -->
				</div> <!-- end educ and langs row -->
				
				</div> <!-- end left about me column -->
				<div class="col-lg-6">
					<h1 class="text-center parallel-header"><span class="parallel-header-text">Career Snapshot</span></h1>
					<div class="row">
						<div class="col-lg-6">
							
							<div class="card text-white bg-primary mb-3">
  <div class="card-header">Programming Languages</div>
  <div class="card-body">
  	<ul class="list-group">
  	    <li class="list-group-item skills-text">PHP <span class="badge badge-success">4.3 out of 5</span></li>
          <li class="list-group-item skills-text">SQL <span class="badge badge-success">4.6 out of 5</span></li>
          <li class="list-group-item skills-text">HTML <span class="badge badge-success">4.5 out of 5</span></li>
          <li class="list-group-item skills-text">JavaScript <span class="badge badge-success">4.4 out of 5</span></li>
          <li class="list-group-item skills-text">Python <span class="badge badge-success">4.0 out of 5</span></li>
  	</ul>
    
  </div> <!-- end card-body -->
</div> <!-- end card -->

				
						</div> <!-- end left card col -->
						<div class="col-lg-6">
							
							<div class="card text-white bg-primary mb-3">
  <div class="card-header">Database Management Systems</div>
  <div class="card-body">
  	<ul class="list-group">
  	    <li class="list-group-item skills-text">MySQL/MariaDB <span class="badge badge-success">4.2 out of 5</span></li>
          <li class="list-group-item skills-text">PostgreSQL <span class="badge badge-success">4.5 out of 5</span></li>
          <li class="list-group-item skills-text">SQLite <span class="badge badge-success">4.5 out of 5</span></li>
  	</ul>
    
  </div> <!-- end card-body -->
</div> <!-- end card -->
							
						</div><!-- end right card col -->
					</div><!-- end first card row -->
					
<div class="row">
						<div class="col-lg-6">
							
							<div class="card text-white bg-primary mb-3">
  <div class="card-header">Frameworks - PHP</div>
  <div class="card-body">
  	<ul class="list-group">
  	    <li class="list-group-item skills-text">Wordpress <span class="badge badge-success">4.6 out of 5</span></li>
          <li class="list-group-item skills-text">CodeIgniter <span class="badge badge-success">4.4 out of 5</span></li>
          <li class="list-group-item skills-text">Laravel <span class="badge badge-success">4.5 out of 5</span></li>
          <li class="list-group-item skills-text">CakePHP <span class="badge badge-success">4.4 out of 5</span></li>
  	</ul>
    
  </div> <!-- end card-body -->
</div> <!-- end card -->

				
						</div> <!-- end left card col -->
						<div class="col-lg-6">
							
							<div class="card text-white bg-primary mb-3">
  <div class="card-header">Framework - Others</div>
  <div class="card-body">
  	<ul class="list-group">
  	    <li class="list-group-item skills-text">jQuery <span class="badge badge-success">4.5 out of 5</span></li>
          <li class="list-group-item skills-text">Bootstrap <span class="badge badge-success">4.5 out of 5</span></li>
          <li class="list-group-item skills-text">Flask (Python, web) <span class="badge badge-success">4.5 out of 5</span></li>
  	</ul>
    
  </div> <!-- end card-body -->
</div> <!-- end card -->
							
						</div><!-- end right card col -->
					</div><!-- end second card row -->

				</div><!-- end career snapshot -->
</div><!-- end about me row -->

<!-- Work Experience -->
<div class="row">
			    <div class="col-lg-12">
				<h1 class="text-center parallel-header"><span class="parallel-header-text">Work Experience</span></h1>
				
				<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">2020-2023</a>
      </li>
      
    </ul>
  </div>
  <div class="card-body">
    <h5 class="card-title">Web Developer - Outsourced Doers</h5>
    <p class="card-text">I have expertise in creating and maintaining websites using WordPress, Kajabi, Kartra, Wix, and other platforms. I have successfully delivered web development projects for clients in different industries, such as e-commerce, education, health, and entertainment. I am proficient in HTML, CSS, JavaScript, PHP, and other web technologies. I am also skilled in web design, SEO, and user interface optimization. I am passionate about creating web solutions that are responsive, user-friendly, and aesthetically pleasing.</p>
    <a href="https://drive.google.com/file/d/1ym2oPlo9NxfQuK9WWkzLJ-z_Z9CWA4SP/view?usp=drivesdk" class="btn btn-primary">
		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
  <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
  <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
</svg>
	
		Download Resumé
	</a>
  </div>
</div>
				
				</div><!-- end work exp col -->
</div><!-- end work exp row -->

<!-- Portfolio - Web -->
<div class="row">
			    <div class="col-lg-12">
				<!-- bypass flask detecting curlies as Flask instead of Vue - use VueJS or React for the screenshot pop-up, with an option for the user to view a live demo -->
					<h1 class="text-center parallel-header"><span class="parallel-header-text">Portfolio</span></h1>

         <div class="row">
         	<div class="col-lg-4">
                   <!-- Button trigger modal -->
<a href="#" data-toggle="modal" data-target="#exampleProjectModal1"><img src="{{ url_for('static', filename='img/projects/project-1.png') }}" class="img-fluid img-thumbnail" alt="Responsive image"></a>

<!-- Modal -->
<div class="modal fade" id="exampleProjectModal1" tabindex="-1" role="dialog" aria-labelledby="exampleProjectModal1" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Preview</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span> 
        </button>
      </div>
      <div class="modal-body">
        <img src="{{ url_for('static', filename='img/projects/project-1.png') }}" class="img-fluid img-thumbnail" alt="Responsive image">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> <!-- end modal -->
         	</div> <!-- end individual project col -->
         	
         <div class="col-lg-4">
                   <!-- Button trigger modal -->
<a href="#" data-toggle="modal" data-target="#exampleProjectModal2"><img src="{{ url_for('static', filename='img/projects/project-2.png') }}" class="img-fluid img-thumbnail" alt="Responsive image"></a>

<!-- Modal -->
<div class="modal fade" id="exampleProjectModal2" tabindex="-1" role="dialog" aria-labelledby="exampleProjectModal2" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Preview</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span> 
        </button>
      </div>
      <div class="modal-body">
        <img src="{{ url_for('static', filename='img/projects/project-2.png') }}" class="img-fluid img-thumbnail" alt="Responsive image">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> <!-- end modal -->
         	</div> <!-- end individual project col -->
         	
         <div class="col-lg-4">
                   <!-- Button trigger modal -->
<a href="#" data-toggle="modal" data-target="#exampleProjectModal3"><img src="{{ url_for('static', filename='img/projects/project-3.png') }}" class="img-fluid img-thumbnail" alt="Responsive image"></a>

<!-- Modal -->
<div class="modal fade" id="exampleProjectModal3" tabindex="-1" role="dialog" aria-labelledby="exampleProjectModal3" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Preview</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span> 
        </button>
      </div>
      <div class="modal-body">
        <img src="{{ url_for('static', filename='img/projects/project-3.png') }}" class="img-fluid img-thumbnail" alt="Responsive image">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> <!-- end modal -->
         	</div> <!-- end individual project col -->
         	
         <div class="col-lg-4">
                   <!-- Button trigger modal -->
<a href="#" data-toggle="modal" data-target="#exampleProjectModal4"><img src="{{ url_for('static', filename='img/projects/project-4.png') }}" class="img-fluid img-thumbnail" alt="Responsive image"></a>

<!-- Modal -->
<div class="modal fade" id="exampleProjectModal4" tabindex="-1" role="dialog" aria-labelledby="exampleProjectModal4" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Preview</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span> 
        </button>
      </div>
      <div class="modal-body">
        <img src="{{ url_for('static', filename='img/projects/project-4.png') }}" class="img-fluid img-thumbnail" alt="Responsive image">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> <!-- end modal -->
         	</div> <!-- end individual project col -->
         </div> <!-- end projects row -->    

				</div><!-- end portfolio col -->
</div><!-- end portfolio row -->
	
<!-- Contact -->
<div class="row">
			    <div class="col-lg-12">
				<h1 class="text-center parallel-header"><span class="parallel-header-text">Contact</span></h1>
				<div class="contact-buttons text-center">
				<a href="mailto:clydedatastruct@gmx.com" class="btn btn-lg btn-primary">
		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-at-fill" viewBox="0 0 16 16">
  <path d="M2 2A2 2 0 0 0 .05 3.555L8 8.414l7.95-4.859A2 2 0 0 0 14 2zm-2 9.8V4.698l5.803 3.546zm6.761-2.97-6.57 4.026A2 2 0 0 0 2 14h6.256A4.5 4.5 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586zM16 9.671V4.697l-5.803 3.546.338.208A4.5 4.5 0 0 1 12.5 8c1.414 0 2.675.652 3.5 1.671"/>
  <path d="M15.834 12.244c0 1.168-.577 2.025-1.587 2.025-.503 0-1.002-.228-1.12-.648h-.043c-.118.416-.543.643-1.015.643-.77 0-1.259-.542-1.259-1.434v-.529c0-.844.481-1.4 1.26-1.4.585 0 .87.333.953.63h.03v-.568h.905v2.19c0 .272.18.42.411.42.315 0 .639-.415.639-1.39v-.118c0-1.277-.95-2.326-2.484-2.326h-.04c-1.582 0-2.64 1.067-2.64 2.724v.157c0 1.867 1.237 2.654 2.57 2.654h.045c.507 0 .935-.07 1.18-.18v.731c-.219.1-.643.175-1.237.175h-.044C10.438 16 9 14.82 9 12.646v-.214C9 10.36 10.421 9 12.485 9h.035c2.12 0 3.314 1.43 3.314 3.034zm-4.04.21v.227c0 .586.227.8.581.8.31 0 .564-.17.564-.743v-.367c0-.516-.275-.708-.572-.708-.346 0-.573.245-.573.791"/>
</svg>
	
		Email
	</a>
	<a href="tel:+639936157765" class="btn btn-lg btn-primary">
		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
</svg>
	
		Phone
	</a>
				</div>
				</div><!-- end contact col -->
</div><!-- end contact row -->
{% endblock %}

{% block vuescripts %}

{% endblock %}